@import './css/normalize.scss';

// === Mixins ===
@mixin font-lato {
    font-family: 'Lato', sans-serif;
}
@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
// === / Mixins ===

$color-white: #ffffff;


// === Common ===
* {
    box-sizing: border-box;
}
body {
    @include font-lato;

    color: #414141;
}
.section-outer{}
.section-inner {
    width: 1180px;
    margin: 0 auto;
}

.description-item {
    &__icon{
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }
    &__text{
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #6c6c6c;
    }
}

@mixin start-button {
    @include font-montserrat;
    font-size: 16px;
    margin: 0;
    padding: 16px 20px;
    
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}
.btn-main {
    @include start-button;

    border: none;
    background: linear-gradient(to right, #fe985b, #fe47af);
    color: $color-white;
}
.btn-secondary {
    @include start-button;

    border: 1px solid #414141;
    background: $color-white;
    color: #414141;

}

// === / Common ===

// === header === 
.section-header {
    color: #ffffff;
    background: url('../image/startup-594090_1920.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        z-index: 10;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &::before {
        z-index: 5;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba( 20, 39, 51, .6);

    }

    &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }
    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-wrapper {
        &__title, &__subtitle {
            text-align: center;
        }
        &__title{
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 16px;
        }
        &__subtitle{
            @include font-montserrat;
            font-size: 18px;
            line-height: 32px;
            width: 70%;
            margin: 0 auto 44px;

        }
        &__form{
            display: flex;
              &-input {
                flex: 1;
                padding-right: 40px;

                input{
                    @include font-montserrat;
                    border: none;
                    background: rgba(255, 255, 255, .25);
                    color: $color-white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    border-radius: 4px;
                    width: 100%;
    
                    &::placeholder {
                        color: $color-white; 
                    }
                }
              }
        }
    }
}
// === / header === 

// === promo === 
.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;

    .section-promo-1 {
        display: flex;

        &__content,
        &__basis{
            flex-basis: 50%;
        }

        &__content {
            padding-right: 90px;

            .title{
                font-size: 32px;
                line-height: 51px;
                font-weight: bold;
                margin-bottom: 56px;
            }

            .description-item {
                margin-top: 28px;
            }
            

        }
        &__video {
            align-items: center;
            display: flex;
        }
    }

    .section-promo-2 {
        display: flex;
        padding-top: 86px;
        margin-top: 120px;
        border-top: 1px solid #e2e2e2;
        text-align: center;

        .description-item + .description-item {
            margin-left: 40px;
        }
    }

    
}
// === / promo ===

// === founder === 
.section-founder {
    background-color: #B5B4B1;
    padding-top: 34px;
    .section-inner {
        display: flex;
    }

    &__img {
        align-self: flex-end;
    }
    &__content {
        padding-left: 50px;
        align-self: center;
        &-text {
            @include font-montserrat;

            font-size: 24px;
            line-height: 40px;
        }
        &-name {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
        &-post {
            font-size: 20px;
            line-height: 29px;
        }
    }

}
// === / founder ===

// === plans === 
.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title {
        font-size: 36px;
        line-height: 51px;
        font-weight: bold;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin: 0 auto 80px;
        width: 50%;
    }
    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            text-align: center;
            padding: 60px 45px;
            &_title {
                font-size: 14px;
                line-height: 17px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            &_price {
                margin-bottom: 26px;

                .prefix{
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                    color: #fe4fa7;
                }
                .postfix{
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                }
            }
            &_description {
                margin-bottom: 50px;
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
            }
            &_button {}

            &.active {
                background-color: #f6fafd;
            }
        }
    }
}
// === / plans ===

// === footer === 
.section-footer {
    
}
// === / footer ===